---
layout: home
---

{% include header.html %}
<div class="c-posts o-opacity">
  {% for post in site.categories[page.title] %}
  <article class="c-post">
    {% if post.image %}
    <a class="c-post-thumbnail" style="background-image: url({{"/images/" | prepend: site.baseurl | append : post.image}})"
      href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %} {% endif %}
    <div class="c-post-content">
      <h2 class="c-post-title">
        <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
      </h2>
      {% for tag in post.tags %}
        <span class="tag-text" >&#35; {{ tag }}</span>
      {% endfor %}
      <span class="c-post-date">    
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
        </svg>
        
        <span>{{post.date | date: '%Y-%m-%d'}}</span>     
      </span>
      <span class="c-post-words">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        
        {% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words |
          plus: 250 | divided_by: 250 | append: " 분 소요" }}{% endunless %}
      </span>
    </div>
  </article>
  {% endfor %}
</div> <!-- /.c-posts -->
<!-- {% include categories.html %} -->